.custom-file-upload {
  margin-left: auto;
  margin-right: 5rem;
  color: #fff;
  background-color: darkcyan;
  border: none;
  padding: 16px;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.start-loading {
  opacity: 0.5;
}

.alert {
  display: flex;
  align-items: center;
  justify-content: center;
}

thead tr th {
  font-weight: bold !important;
}

.error-cell {
  background-color: crimson !important;
}
